/* 
    Document   : default
    Created on : 26/02/2014, 14:43:40
    Author     : Gustavo
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    background-color: #f1f1fa;
    height: 100%;
}
p.msg,
p.msg2 {
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}
p.msg2 {
    font-weight: normal;
}
div input {
    margin: 0;
}
input.inputTel {
    width: 140px;
}
div.dvBody {
    height: 100%;
    width: 1100px;
    /*margin: 50px auto 0 auto;*/
    margin: 0 auto 0 auto;
}
div.dvFooter {
    background-color: #f5f5f5;
    height: 60px;
}
div.notifications {
    z-index: 999;
}
div#rowHomeForm,
div#rowForm {
    text-align: center;
    margin: 0;
    padding-top: 63px;
}
div#rowForm {
    float: left;
    width: 600px;
    margin-top: 0;
    padding-top: 0;
}
div#rowForm div.panel-form-home {
    width: 640px;
}
div#rowForm div.panel-default {
    margin: 0;
    border: none;
    height: 600px;
}

div#rowForm div.panel-heading,
div#rowForm div.panel-footer{
    display: none;
}
div#rowForm div.panel-form-home {
    margin: 0;
}
div.container {
    width: 1100px;
}
div.panel-img-home {
    float: left;
}
div.panel-img-home img {
    width: 400px;
}
div.panel-conteudo-home {
    padding-top: 65px;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #666;
    width: 300px;
}
div.panel-heading span.glyphicon {
    background: url(/img/tel.png);
    width: 20px;
    height: 20px;
}
div.panel-heading span.glyphicon:before {
    content: none !important;
}

body { 
  /*background: #F9F9F9; */
  background: #222;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div.navbar-header img {
    float: left;
    margin-right: 10px;
}
div#dvBackground {
    background: #F9F9F9;
    margin-top: 0;
    padding-top: 0;
    /*padding-top: 28px;*/
}
.form-group.last { margin-bottom:0px; }
div.dvRadIda label{
    margin-right: 0px;
}
div.panel-form-home {
    margin-top: 0;
    width: 350px;
    float: right;
    text-align: left !important;
}
div.panel-form-home.panel-form-complemento div.dvCampoTel{
    float: left;
    clear: none;
}
div.panel-form-home.panel-form-complemento div.dvCampoEmail{
    float: left;
    clear: none;
}
div.panel-form-home.panel-form-complemento {
    width: 620px;
    float: left;
    margin-left: 95px;
}
div.panel-heading.panel-heading-complemento span {
    background: url(/img/form.png) no-repeat 0 3px;
}
div.panel-heading span.glyphicon {
    margin-right: 4px;
}
div.panel-form-home div.form-group label{
    margin-left: 15px;
    text-align: left;
    display: block;
    
}
div.panel-form-home div.form-rad label, 
div.panel-form-home div.form-rad input {
    display: inline;
}
div.panel-form-home div.form-group {
    clear: both;
    margin-left: 0;
    margin-right: 0;
}
div.dvLocalizacao div.form-group label {
    width: auto;
    min-width: 100px;
}
div.dvLocalizacao div.form-group{
    width: 280px;
    /*float: left;*/
    clear: inherit;
    margin-left: 0;
    margin-right: 0;
}
div.dvLocalizacao div.form-group input{
    width: 300px;
    margin: 0;
}
div.dvPeriodo {
    clear: both;
    margin-left: 15px;
}
div.dvPeriodo label {

}
div.dvPeriodo label.labelPeriodo {
    display: block;
    text-align: left;
}
div.dvPeriodo div.form-group {
    float: left;
    clear: none;
    width: 151px;
}
div.dvPeriodo div.form-group.group-data-inicio {
    width: 146px;
}
div.dvPeriodo div.form-group input {
    margin: 0;
    width: 98px;
    float: left;
}
div#footer {
    background: #222222;
    height: 50px;
}
div #footer-content {
    margin: 0 auto;
    width: 1100px;
    color: #999999;
    font-size: 13px;
    padding-top: 10px;
    text-align: right;
}
div.dvPeriodo div.form-group label {
    float: left;
    margin: 0 14px 0 0;
    /*margin-right: 15px;*/
}
div.dvPeriodo div.dvPeriodoFim input {
    
}
.clear {
    clear: both;
    height: .1;
    font-size: .1;
}
div.dvValor input {
    width: 120px;
    margin: 0;
}
div.form-senha-top a {
    display: block;
    font-size: 11px;
    color: #CCC;
}
div.form-login div.form-group {
    height: 40px;
}
div.form-login div.form-group input {
    height: 30px;
    margin: 0;
}
div.form-login div.form-group button {
    height: 30px;
}
div.navbar-fixed-top {
    position: inherit !important;
    margin-bottom: 0;
}
div.navbar-header a.navbar-brand {
    font-size: 24px;
    margin-top: 5px;
}
div.navbar-header img {
    width: 40px;
    margin-top: 8px;
}
img.ui-datepicker-trigger {
    margin-left: -1px;
    height: 34px;
    float: left;
}

div.panel-form-complemento div.dvCampoSenha{
    width: 280px;
    float: left;
    clear: none;
}
div.panel-form-complemento div.dvCampoSenha input {
    width: 250px;
}
div.panel-form-complemento div.dvRadIda label {
    margin-right: 30px;
    margin-left: 5px;
}
div.form-group.form-rad div.dvRadIda{
    margin: 0;
    width: auto;
}
div.panel-form-complemento div.dvCampoEmail input {
    width: 350px;
}
form.form-complemento-cadastro {
}
div.panel-form-complemento input.inputTel {
    width: 150px;
}

/**
 * SetBar
 */

#dvStepBar {
    width: 200px;
    float: left;
    border: 1px solid #A6C9E2;
    background: #fff;
    margin-top: 63px;
    margin-right: 7px;
    padding: 4px;
}
#dvStepBar div.title{
    background: #5C9CCC;
    border: 1px solid #4297D7;
    font-size: 13px;
    padding: 4px 10px;
    font-weight: bold;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    text-align: center;
    color: #fff;
}
#ulStepBar {
    margin: 0;
    padding: 0;
}
#ulStepBar li {
    list-style: none;
    padding: 6px 0 6px 20px;
    margin: 0;
    color: #2a6496;
}
#ulStepBar li.current span {
    text-decoration: underline;
}
#ulStepBar li.current {
    background: #f6f6f6;
}
#ulStepBar li.current a,
#ulStepBar li.current {
}
#ulStepBar li.first {
}
#ulStepBar li.last {
}
#ulStepBar li a {
}
div.rowDadosForm div.panel-form {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    background: #fff;
}
div.rowDadosForm div.panel-form{
    padding-top: 25px !important;
}
div.rowDadosForm h3{
    margin-left: 12px;
    color: #428BCA;
    border-bottom: 1px solid #428BCA;
    margin-bottom: 25px;
    width: 570px;
}
/**
 * Dados do voo
 */
div.rowDadosForm div.panel-form-home {
    float: left;
    margin-left: 230px;
}
/**
 * Coluna da direita
 */
div.colRight {
    float: right;
    min-height: 550px;
    margin-right: 15px;
    padding-left: 15px;
}
div.colRight div.widConversao {
    margin-top: 63px;
}
/**
 * Dados pessoais
 */
div.rowDadosPess div.dvRadIda label {
    margin-right: 15px;
    margin-left: 3px;
}
div.rowDadosPess input#inputTel {
    width: 150px;
}
div.rowDadosPess div.dvCampoEmail input.form-control {
    width: 297px;
}
div.rowDadosPess div.dvCampoEmail,
div.rowDadosPess div.dvCampoTel {
    float: left;
    clear: none;
}
div.rowDadosPess div.dvCampoSenha input.form-control {
    width: 224px;
}
div.rowDadosPess div.dvCampoSenha {
    float: left;
    clear: none;
}
#ui-datepicker-div {
    font-size: 14px;
    width: 18em;
}
#ui-datepicker-div a.ui-state-default {
    text-align: center;
}